#bodyColor {
    background-color:maroon;
}

#myHeader {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(217, 158, 75);
    font-size:90px;
}

.mainMenu {
    padding-left: 20px;
    height:30px;
}

.mainMenu li{
    display:inline;
    float:right;
    font-size:150%;
    padding-right:40px;
    padding-bottom:20px;
}

.mainMenu li a{
    color: #fb8b24;
    border:10px;
    border-color:#0f4c5c;
    border-style:solid;
    text-decoration:none;
    border-radius:15px;
    box-shadow:2px 5px;
    box-shadow:#fb8b24
}

.mainMenu li a:hover {
    color:white;
    box-shadow:2px 5px;
}

#aboutheader {
    font-size:60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
}   

.box1 {
    background-color:tan;
    font-size:4vw;
    flex:1;
    max-width:50%;
}

.box2 img{
    width:40vw;
}

#challengeImg {
    width:500px;

}

.container1 {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
}
.container1 div{
    border:3px solid black;
}

#challenge01 {
    flex:1;
    background-color:grey
}

#future1 {
    flex:1;
    width:20%;
}

#future2 {
    flex:1;
    width:20%;
}

#future3 {
    flex:1;
}

#contactheader {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:60px;
}

.contactInfo li{
    display:inline;
    float:right;
    font-size:200%;
    padding-left:30px;
    margin-right:30px;
    padding-bottom:20px;
}

.contactInfo li a {
    color:#fb8b24;
    border:10px;
    border-color:#0f4c5c;
    border-style:solid;
    text-decoration:none;
    border-radius:15px;
    box-shadow:2px 5px;
    box-shadow:#fb8b24
}

.contactInfo li a:hover {
    color:white;
    box-shadow:2px 5px;
}