#bodyColor {
    background-color:rgb(130, 31, 31);
}

#myHeader {
    font-family:sans-serif;
    color:rgb(217, 158, 75);
    font-size:90px;
}
.mainMenu {
    padding-left: 20px;
}

.mainMenu li{
    display:inline;
    float:right;
    font-size:150%;
    padding-right:40px;
    padding-top:10px;
}

.mainMenu li a{
    color: #fb8b24;
    border:10px;
    border-color:#0f4c5c;
    border-style:solid;
    text-decoration:none;
}

.aboutBox {
    display:flex;
}   

.aboutBox p {
    display:flex;
    background-color:tan;
    font-size:30px;
}

.aboutBox img{
    width:200px;
}

#challengeImg {
    width:600px;

}

#challenge01 {
    background-color:grey;
}

.contactInfo li{
    display:inline;
    float:right;
    font-size:200%;

}